<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"><title>Adding a floating TOC - Haar&#39;s Half Measure</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta itemprop="name" content="Adding a floating TOC">
<meta itemprop="description" content="Now you know exactly where you are. Oh wait. You now know nothing how fast you are going!"><meta itemprop="datePublished" content="2024-01-06T00:00:00+00:00" />
<meta itemprop="dateModified" content="2024-01-06T00:00:00+00:00" />
<meta itemprop="wordCount" content="336">
<meta itemprop="keywords" content="UI,design," /><meta property="og:title" content="Adding a floating TOC" />
<meta property="og:description" content="Now you know exactly where you are. Oh wait. You now know nothing how fast you are going!" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://ngdnhtien.github.io/non-relativistic/floating-toc/" /><meta property="article:section" content="non-relativistic" />
<meta property="article:published_time" content="2024-01-06T00:00:00+00:00" />
<meta property="article:modified_time" content="2024-01-06T00:00:00+00:00" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Adding a floating TOC"/>
<meta name="twitter:description" content="Now you know exactly where you are. Oh wait. You now know nothing how fast you are going!"/>
<link rel="stylesheet" type="text/css" media="screen" href="https://ngdnhtien.github.io/css/normalize.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="https://ngdnhtien.github.io/css/main.css" />

        <link id="dark-scheme" rel="stylesheet" type="text/css" href="https://ngdnhtien.github.io/css/dark.css" />

	<script src="https://ngdnhtien.github.io/js/feather.min.js"></script>
	
		<script src="https://ngdnhtien.github.io/js/main.js"></script>
</head>

<body>
	<div class="container wrapper">
		
<div class="header">
	
	<h1 class="site-title"><a href="https://ngdnhtien.github.io/">Haar&#39;s Half Measure</a></h1>
	<div class="site-description"><p>What I talk about when I talk about physics.</p><nav class="nav social">
			<ul class="flat"><li><a href="https://github.com/ngdnhtien" title="Github"><i data-feather="github"></i></a></li><li><a href="https://twitter.com/ngdnhtien" title="Twitter"><i data-feather="twitter"></i></a></li><span class="scheme-toggle"><a href="#" id="scheme-toggle"></a></ul>
		</nav>
	</div>

	<nav class="nav">
		<ul class="flat">
			
			<li>
				<a href="/">Home</a>
			</li>
			
			<li>
				<a href="/non-relativistic">Non-relativistic</a>
			</li>
			
			<li>
				<a href="/relativistic">Relativistic</a>
			</li>
			
			<li>
				<a href="/tags">Tags</a>
			</li>
			
		</ul>
	</nav>
</div>

		
			<div class="post">
				<div class="post-header">
					
						<div class="meta">
							<div class="date">
								<span class="day">06</span>
								<span class="rest">Jan 2024</span>
							</div>
						</div>
					
					<div class="matter">
						<h1 class="title">Adding a floating TOC</h1>
					</div>
				</div>

				
				
						
				<div class="markdown">
					<p>I&rsquo;m using a theme called &lsquo;<a href="https://themes.gohugo.io/themes/ink-free/">Ink-free</a>&rsquo;. Pretty awesome I would say. I will make it even more awesome by adding a floating Table of Contents (TOC). Look to the right. Do you see it? If you don&rsquo;t then probably I messed up somewhere. Anyway, here&rsquo;s the process.</p>
<h1 id="the-default-one">The default one</h1>
<p>By default you already have one. But it is a static TOC, which does not make any sense. Look into the <code>/layouts/_default/_markup/single.html</code> folder. Here&rsquo;s the code I have been using to generate a TOC.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:1;-o-tab-size:1;tab-size:1;"><code class="language-html" data-lang="html"><span style="display:flex;"><span>{{ if and (gt .WordCount 400 ) (.Site.Params.toc) (ne .Params.toc false) }}
</span></span><span style="display:flex;"><span>&lt;<span style="color:#f92672">aside</span> <span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;toc&#34;</span>&gt;
</span></span><span style="display:flex;"><span>    &lt;<span style="color:#f92672">header</span>&gt;
</span></span><span style="display:flex;"><span>    &lt;<span style="color:#f92672">h1</span>&gt;Contents&lt;/<span style="color:#f92672">h1</span>&gt;
</span></span><span style="display:flex;"><span>    &lt;/<span style="color:#f92672">header</span>&gt;
</span></span><span style="display:flex;"><span>    {{.TableOfContents}}
</span></span><span style="display:flex;"><span>&lt;/<span style="color:#f92672">aside</span>&gt;
</span></span><span style="display:flex;"><span>{{ end }}
</span></span></code></pre></div><p>For posts that exceed the 400 words limit, a specified <code>true</code> toc field in the front matter will result in a TOC. Now I would like to make this floats. Whatever floats the boat huh?</p>
<h1 id="the-modified-one">The modified one</h1>
<p>Alright. Local pertubation only. First I&rsquo;d like to figure out where I should put my TOC: I think next to the post section, same level as the post title would be perfect. To do this, let us create a grid.</p>
<p>We&rsquo;ll have a thing called <code>main-section</code> to wrap all the post (from title to the beginning of footer).</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:1;-o-tab-size:1;tab-size:1;"><code class="language-html" data-lang="html"><span style="display:flex;"><span>&lt;<span style="color:#f92672">div</span> <span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;main-section&#34;</span>&gt;
</span></span><span style="display:flex;"><span>    &lt;<span style="color:#f92672">div</span> <span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;post&#34;</span>&gt;
</span></span><span style="display:flex;"><span>        ...
</span></span><span style="display:flex;"><span>    &lt;/<span style="color:#f92672">div</span>&gt;
</span></span><span style="display:flex;"><span>&lt;/<span style="color:#f92672">div</span>&gt;
</span></span></code></pre></div><p>and the div that will carry our TOC is a navigation class.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:1;-o-tab-size:1;tab-size:1;"><code class="language-html" data-lang="html"><span style="display:flex;"><span>&lt;<span style="color:#f92672">div</span> <span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;main-section&#34;</span>&gt;
</span></span><span style="display:flex;"><span>    &lt;<span style="color:#f92672">div</span> <span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;post&#34;</span>&gt;
</span></span><span style="display:flex;"><span>        ...
</span></span><span style="display:flex;"><span>    &lt;/<span style="color:#f92672">div</span>&gt;
</span></span><span style="display:flex;"><span>    &lt;<span style="color:#f92672">nav</span> <span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;section-nav&#34;</span>&gt;
</span></span><span style="display:flex;"><span>        {{ if and (gt .WordCount 400 ) (.Site.Params.toc) (ne .Params.toc false) }}
</span></span><span style="display:flex;"><span>            &lt;<span style="color:#f92672">aside</span> <span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;toc&#34;</span>&gt;
</span></span><span style="display:flex;"><span>                &lt;<span style="color:#f92672">header</span>&gt;
</span></span><span style="display:flex;"><span>                &lt;<span style="color:#f92672">h1</span>&gt;Contents&lt;/<span style="color:#f92672">h1</span>&gt;
</span></span><span style="display:flex;"><span>                &lt;/<span style="color:#f92672">header</span>&gt;
</span></span><span style="display:flex;"><span>                {{.TableOfContents}}
</span></span><span style="display:flex;"><span>            &lt;/<span style="color:#f92672">aside</span>&gt;
</span></span><span style="display:flex;"><span>        {{ end }}
</span></span><span style="display:flex;"><span>    &lt;/<span style="color:#f92672">div</span>&gt;
</span></span><span style="display:flex;"><span>&lt;/<span style="color:#f92672">div</span>&gt;
</span></span></code></pre></div><p>Here&rsquo;s the CSS that will reposition the TOC.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:1;-o-tab-size:1;tab-size:1;"><code class="language-CSS" data-lang="CSS"><span style="display:flex;"><span>.<span style="color:#a6e22e">main-section</span> {
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">display</span>: <span style="color:#66d9ef">grid</span>;
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">grid-template-columns</span>: <span style="color:#ae81ff">100</span><span style="color:#66d9ef">%</span> <span style="color:#ae81ff">15</span><span style="color:#66d9ef">em</span>;
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>I sprinkle some more cherry decoration on the sundae</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:1;-o-tab-size:1;tab-size:1;"><code class="language-CSS" data-lang="CSS"><span style="display:flex;"><span>.<span style="color:#a6e22e">section-nav</span> {
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">padding-left</span>: <span style="color:#ae81ff">25</span><span style="color:#66d9ef">px</span>;
</span></span><span style="display:flex;"><span>}
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>.<span style="color:#a6e22e">toc</span> {
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">line-height</span>: <span style="color:#ae81ff">1.7</span><span style="color:#66d9ef">em</span>;
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">border-left</span>: <span style="color:#ae81ff">5</span><span style="color:#66d9ef">px</span> <span style="color:#66d9ef">solid</span> <span style="color:#ae81ff">#efefef</span>;
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">padding-left</span>: <span style="color:#ae81ff">25</span><span style="color:#66d9ef">px</span>;
</span></span><span style="display:flex;"><span>    
</span></span><span style="display:flex;"><span>}
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>.<span style="color:#a6e22e">toc</span> <span style="color:#f92672">a</span> {
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">color</span>: <span style="color:#ae81ff">#ccc</span>;
</span></span><span style="display:flex;"><span>}
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>.<span style="color:#a6e22e">toc</span> <span style="color:#f92672">a</span>:<span style="color:#a6e22e">hover</span><span style="color:#f92672">,</span>
</span></span><span style="display:flex;"><span>.<span style="color:#a6e22e">toc</span> <span style="color:#f92672">a</span>:<span style="color:#a6e22e">focus</span> {
</span></span><span style="display:flex;"><span>  <span style="color:#66d9ef">color</span>: <span style="color:#ae81ff">#666</span>;
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>Lastly, the floating part. We want the navigation to floats along the <code>main-section</code>. Hence</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:1;-o-tab-size:1;tab-size:1;"><code class="language-CSS" data-lang="CSS"><span style="display:flex;"><span>.<span style="color:#a6e22e">main-section</span> <span style="color:#f92672">&gt;</span> <span style="color:#f92672">nav</span> {
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">position</span>: <span style="color:#66d9ef">sticky</span>;
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">top</span>: <span style="color:#ae81ff">4</span><span style="color:#66d9ef">rem</span>;
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">align-self</span>: <span style="color:#66d9ef">start</span>;
</span></span><span style="display:flex;"><span>  }
</span></span></code></pre></div><p><em>to be continued&hellip;</em></p>

				</div>

				<div class="tags">
					
						
							<ul class="flat">
								
								<li class="tag-li"><a href="/tags/ui">UI</a></li>
								
								<li class="tag-li"><a href="/tags/design">design</a></li>
								
							</ul>
						
					
				</div>

				
				<div class="back">
					<a href="https://github.com/ngdnhtien/ngdnhtien-content/blob/master/content/non-relativistic/floating-toc.md" title="github"><i data-feather="github"></i> Edit this on GitHub</a>
				</div>
				

				<div class="back" style="padding-top: 0.5em;">
					<a href="https://ngdnhtien.github.io//relativistic/know-how-electric-guitar/" title="prev">← Newer</a>
					<a href="https://ngdnhtien.github.io//non-relativistic/symmetrical_states/" title="next" style="float: right">Older →</a>
				</div>								
				
				<div class="back">
					
						
						Next time, we'll talk about <i>"Why vim users are the worst :("</i>
						
					
				</div></div>
		
	</div>
	<div class="footer wrapper">
	<nav class="nav">
		<div>2023  © Nguyen Dinh Tien </div>
		
	</nav>
</div><script>feather.replace()</script>
</body>
</html>